.NavigationItems {
  list-style: none;
  display: flex;
  text-align: center;
  flex-flow: row;
  height: 50px;
  font-family: "PT Sans Narrow", sans-serif;
  font-weight: bold;
  align-items: center;
  text-align: center;
}

.Toolbar__DesktopOnly__WADUd {
  max-width: 100%;
  width: 100%;
}
.sun li a {
  color: #fdba4e;
}
.sun li a:hover {
  border-bottom: 2px solid #fdba4e;
  color: #fdba4e;
  opacity: 70%;
}

@media (max-width: 1024px) {
  .NavigationItems {
    flex-flow: column;
    align-items: center;
  }
}
.button {
  border: 2px solid #f15336;
  flex-direction: row;
  display: flex;
  color: #f15336;
  text-align: center;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  font-size: 16px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-left: 10px;
  text-transform: uppercase;
}
.handiv li a {
  padding: 0;
}
.handiv li a:hover {
  border: none;
}
.button:hover,
.NavigationItems__button__3zQpQ:hover + .NavigationItems__button__3zQpQ a {
  color: white;
}
.button a {
  color: #f15336;
}
.button a:hover,
.button svg:hover,
.button:hover + svg:hover,
.NavigationItems__button__3zQpQ:hover,
.button:hover a {
  color: white;
}
.button:hover,
.button:hover + .NavigationItems__button__3zQpQ a {
  background-color: #f15336;
  border: 2px solid white;
  color: white;
}
@media (max-width: 1024px) {
  .NavigationItems a {
    display: none;
  }
}
@media (max-width: 768px) {
  .button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: -30px;
    padding-right: -10px;
    font-size: 12px;
    margin-left: 10px;
  }
  .NavigationItems a {
    display: block;
  }
  h1 {
    font-size: 24px;
  }
  .title {
    padding: 0px;
  }
}
